@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --red-color: #fa4141;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #d2d2d2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container{
    background-color: rgb(198, 255, 243);
    padding: 20px 40px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
}

.container h1{
    color: var(--red-color);
    margin-bottom: 30px;
    text-align: center;
}

.container a{
    text-decoration: none;
    color: #00b3ff;
}

.form-control{
    position: relative;
    margin: 20px 0 40px;
}

.form-control input{
    border: none;
    display: block;
    width: 100%;
    padding: 15px;
}

.form-control input:focus, .form-control input:valid{
    outline: none;
    transition: 0.3s ease;
}

.btn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color: var(--red-color);
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: inherit;
    padding: 15px;
    border-radius: 10px;
}

.btn:focus{
    outline: none;
}

.btn:active{
    transform: scale(0.98);
}

.text{
    font-size: .8em;
    margin-top: 20px;
}

.text a:hover{
    text-shadow: 2px 3px 5px rgba(0,0,0,0.4);
}

.form-control label{
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.7, -0.6, 0.3, 1.55);
}

.form-control input:focus + label span, .form-control input:valid + label span{
    color: #999;
    transform: translateY(-30px);
}